* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #000000;
  --secondary: #00aff2;
  --white: #ffffff;
}
